<h3>1 </h3>
{{input value=addText}}
<button {{action 'add' addText}}>Add</button>
<ul>
{{#each model as |x index|}}
	{{log x}}
	<li>{{index}}: {{x.title}} <button {{action 'remove' x}}>Remove</button></li>
{{/each}}
</ul>
{{data.id}} {{data.name}}
{{x}}
{{y}}
{{outlet}}
